body {
  background: #eee;
  font-family: arial, helvetica, sans-serif;
  margin: 50px auto;
   background: #c31432;
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); 
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  );
  padding: 0;
}

h1 {
  font-family: "Proxima Nova", "Helvetica Neue", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color:#fff;
  text-align: center;
}

h3 {
  font-family: 'Proxima Nova', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  font-style: italic;
  color: whitesmoke;
  text-align: center;
}

#wrapper {
  perspective: 2500px;
  -webkit-perspective: 2500px;
  width: 800px;
  margin: 100px auto 0 auto;
  perspective-origin: 50% 150px;
  -webkit-perspective-origin: 50% 150px;
  transition: perspective 1s;
  -o-transition: -o-perspective 1s;
  -moz-transition: -moz-perspective 1s;
  -webkit-transition: -webkit-perspective 1s;
}

.container {
  margin: 0 auto;
  height: 300px;
  width: 400px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: spin 24s infinite linear;
  -moz-animation: spin 24s infinite linear;
  -o-animation: spin 24s infinite linear;
  -webkit-animation: spin 24s infinite linear;
}

.container:hover {
  animation-play-state: paused;
  -o-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@keyframes spin {
  from {
    transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
  }
}

.img {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  transition: transform 0.3s ease;
}

.img:hover img {
  transform: scale(1.05);
}

.img-info {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 20px;
  transition: bottom 0.4s ease;
  border-radius: 0 0 25px 25px;
}

.img-info h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-family: 'Proxima Nova', 'Helvetica Neue', sans-serif;
}

.img-info p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.img:hover .img-info {
  bottom: 0;
}

.img1 {
  transform: translateZ(550px);
  -moz-transform: translateZ(550px);
  -o-transform: translateZ(550px);
  -ms-transform: translateZ(550px);
  -webkit-transform: translateZ(550px);
}

.img2 {
  transform: rotateY(45deg) translateZ(550px);
  -moz-transform: rotateY(45deg) translateZ(550px);
  -o-transform: rotateY(45deg) translateZ(550px);
  -ms-transform: rotateY(45deg) translateZ(550px);
  -webkit-transform: rotateY(45deg) translateZ(550px);
}

.img3 {
  transform: rotateY(90deg) translateZ(550px);
  -moz-transform: rotateY(90deg) translateZ(550px);
  -o-transform: rotateY(90deg) translateZ(550px);
  -ms-transform: rotateY(90deg) translateZ(550px);
  -webkit-transform: rotateY(90deg) translateZ(550px);
}

.img4 {
  transform: rotateY(135deg) translateZ(550px);
  -moz-transform: rotateY(135deg) translateZ(550px);
  -o-transform: rotateY(135deg) translateZ(550px);
  -ms-transform: rotateY(135deg) translateZ(550px);
  -webkit-transform: rotateY(135deg) translateZ(550px);
}

.img5 {
  transform: rotateY(180deg) translateZ(550px);
  -moz-transform: rotateY(180deg) translateZ(550px);
  -o-transform: rotateY(180deg) translateZ(550px);
  -ms-transform: rotateY(180deg) translateZ(550px);
  -webkit-transform: rotateY(180deg) translateZ(550px);
}

.img6 {
  transform: rotateY(225deg) translateZ(550px);
  -moz-transform: rotateY(225deg) translateZ(550px);
  -o-transform: rotateY(225deg) translateZ(550px);
  -ms-transform: rotateY(225deg) translateZ(550px);
  -webkit-transform: rotateY(225deg) translateZ(550px);
}

.img7 {
  transform: rotateY(270deg) translateZ(550px);
  -moz-transform: rotateY(270deg) translateZ(550px);
  -o-transform: rotateY(270deg) translateZ(550px);
  -ms-transform: rotateY(270deg) translateZ(550px);
  -webkit-transform: rotateY(270deg) translateZ(550px);
}

.img8 {
  transform: rotateY(315deg) translateZ(550px);
  -moz-transform: rotateY(315deg) translateZ(550px);
  -o-transform: rotateY(315deg) translateZ(550px);
  -ms-transform: rotateY(315deg) translateZ(550px);
  -webkit-transform: rotateY(315deg) translateZ(550px);
}